.uploadFiles {
    display:flex;
}

.classFiles{
    margin: auto;
    padding: auto;
    flex-grow: 1;
}

#train-button-wrapper {
    margin-top:2em;
    text-align: center;
}

h1, h2, h3{
    text-align:center
}

.test {
    width: 400px;
}